.offcanvas-custom {
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    max-height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    @include media-breakpoint-up(md) {
        top: 0;
        left: 0;
        width: 400px;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        transform: translateX(-100%);
    }
}
